[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
port = 3306
socket = /usr/local/mariadb/logs/mariadb.sock
pid-file = /usr/local/mariadb/mariadb.pid
basedir = /usr/local/mariadb
datadir = /usr/local/mariadb/data
tmpdir = /tmp
user = mariadb
log-error = /usr/local/mariadb/logs/mariadb.log
#server-id = 1 
#log-bin = mysql-bin
#max_allowed_packet = 32M
character-set-client-handshake = FALSE
character-set-server = utf8mb4 
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

