[Unit]
Description=Redis persistent key-value database
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
User=redis
Group=redis
Type=notify
PIDFile=/usr/local/redis/logs/redis_6379.pid
ExecStart=/usr/local/redis/bin/redis-server /usr/local/redis/redis.conf --supervised systemd    
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -SIGINT $MAINPID
LimitNOFILE=10240
#RuntimeDirectory=redis
#RuntimeDirectoryMode=0755  

[Install]
WantedBy=multi-user.target
